<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<style>
    body {
        margin: 0px;
        padding: 0px;
        background-color: lightblue;
    }

    .heding1 {
        border: 2px solid rgb(0, 0, 0);
        background-color: black;
        height: 200px;
    }

    .main {
        margin: 5.5%;
    }

    .heder {
        color: white;
        text-align: center;
    }

    .OurStory {
        height: 500px;
    }

    .h1 {
        text-align: center;
        margin: 71px 0px 0px 0px;
    }
    .box2 {
        display: flex;
    }

    .text {
        width: 50%;
        height: 340px;
        text-align: -webkit-left;
        padding: 0px 16px;
    }

    .img {
    width: 46%;
    height: 340px;
    margin-block-start: 14px;
    background-color: rgb(176 174 220);
    }

    .img1 {
        text-align: center;
    }

</style>
<body>
    {{>nevbar}}
    <div class="aboutus">
        <section class="heding1">
            <dir class="main">
                <h1 class="heder">About Us</h1>
            </dir>
        </section>
        <section class="OurStory">
            <div class="h1">
                <h1>Our Story</h1>
            </div>
            <div class="box2">
                <dir class="text">
                    <p>Development Solutions (DS) was founded by S Ramanathan and Vasudha Chakravarthy in 2014. DS
                        exists for two reasons:</p>
                    <p>To enable informed and grounded decision-making for development, through improved availability,
                        interpretation, and utilization of evidence</p>
                    <p>To enable impact-driven institutions to leverage the power of research and knowledge, strengthen
                        data systems, build team capacity, and imbibe learnings irrespective of size, context, and
                        networks</p>
                    <p>Today, DS works across India to support development partners with evidence, research, and
                        knowledge to deepen social impact.</p>
                </dir>
                <div class="img">
                        <h2 class="img1">img1</h2>
                </div>
        </section>
        
    </div>
</body>
</html>