<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>our team</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: lightblue;

    }

    .our {
        height: 200px;
        background-color: black;
        margin: -22px 0px;
    }


    h1 {
        text-align: center;
        padding: 82px 9px;
        color: aliceblue;
    }

    .parta {
        text-align: center;
    }

    .partb {
        text-align: justify;
        font-size: 24px;
        padding: 0px 60px;
    }

    .b1 {
        display: flex;
        padding: 0px 56px;
    }

    .card1 {
        margin: 14px;
        height: 300px;
        width: 36.33%;
        border-radius: 10px;
        background:url(/public/pic/grou.png);
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }

    .card1:hover{
         background-color: rgb(0, 0, 0);
    }
    
    .tex1 {
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 7.8rem 0rem;
    }

    {{!-- pregraft --}}
    .peregra1{
        font-size: 20px;
    }
        .peregra2{
        font-size: 15px;
    }
                            {{!-- Project Management Team --}}

    .partc {
        text-align: center;
    }

    .b2 {
        display: flex;
        padding: 0px 56px;
    }

    .card2 {
        margin: 14px;
        height: 300px;
        width: 36.33%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }
    .card2:hover{
         background-color: rgb(0, 0, 0);
    }
    .tex2 {
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 7.8rem 0rem;
    }

    .card2-2 {
    margin: 14px;
    height: 300px;
    width: 22%;
    border-radius: 10px;
    border: 3px solid mediumturquoise;
    background-color: rgb(255, 255, 255);
    }
    
    .card2-2:hover{
         background-color: rgb(0, 0, 0);
    }


    {{!-- Monitoring, Evaluation and Learning Team --}}
    .partd {
        text-align: center;
    }

    .b3 {
        display: flex;
        padding: 0px 56px;
    }

    .card3{
        margin: 14px;
        height: 300px;
        width: 36.33%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }
    .card3:hover{
         background-color: rgb(0, 0, 0);
         
    }
    .tex3 {
        color: white;
        text-align: center;
        margin: 7.8rem 0rem;
    }


    {{!-- HR and Operations Team --}}

    .parte {
        text-align: center;
    }

    .b4 {
        display: flex;
        padding: 0px 56px;
    }

    .card4{
        margin: 14px;
        height: 300px;
        width: 36.33%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }
    .card4:hover{
         background-color: rgb(0, 0, 0);
    }
    .tex4 {
        color: white;
        text-align: center;
        margin: 7.8rem 0rem;
    }
    
    {{!-- HR and Operations Team --}}

    .partf {
        text-align: center;
    }

    .b5 {
        display: flex;
        padding: 0px 56px;
    }

    .card5{
        margin: 14px;
        height: 300px;
        width: 22%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }
    .card5:hover{
         background-color: rgb(0, 0, 0);
    }
    .tex5 {
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 7.8rem 0rem;
    }

    {{!-- Communications Team --}}
    
    .parti {
        text-align: center;
    }

    .b6 {
        display: flex;
        padding: 0px 56px;
    }

    .card6{
        margin: 14px;
        height: 300px;
        width: 22%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }
    .card6:hover{
         background-color: rgb(0, 0, 0);
    }
    .tex6{
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 7.8rem 0rem;
    }


            {{!-- Business Development Team --}}


    .partg {
        text-align: center;
    }

    .b7 {
        display: flex;
        padding: 0px 56px;
    }

    .card7{
        margin: 14px;
        height: 300px;
        width: 22%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }

    .card7:hover{
         background-color: rgb(0, 0, 0);
    }

    .tex7{
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 7.8rem 0rem;
    }

</style>
<body>
    {{>nevbar}}
    <div class="our">
        <h1>
            Team
        </h1>
        <div class="section1">
            <div class="parta">
                <h2>Our Team</h2>
            </div>
            <div class="partb">
                <p>Our team is carefully drawn from diverse backgrounds, including economics, development studies,
                    management, public policy, public health, and communications. Team members have worked with UN
                    agencies, philanthropic foundations, grassroots NGOs, research organizations, consulting firms and
                    corporates. We are fuelled by a bright, young core of talented professionals united by a shared
                    commitment to social impact.</p>
            </div>
        </div>
        <div class="section2">
            <div class="parta">
                <h2>Leadership</h2>
            </div>
            <section class="b1">
                <div class="card1">
                    <div class="tex1">
                        <p class="peregra1">S.Ramanathan</p>
                        <p class="peregra2">Co-Founding Partner</p>
                    </div>

                </div>
                <div class="card1">
                    <div class="tex1">
                        <p class="peregra1">Vasudha Chakravarthy</p>
                        <p class="peregra2">Co-Founding Partner</p>
                    </div>

                </div>
                <div class="card1">
                    <div class="tex1">
                        <p class="peregra1">Karthik Ram</p>
                        <p class="peregra2">CEO</p>
                    </div>
                </div>
            </section>
            <div class="section3">
                <div class="partc">
                    <h2>Project Management Team</h2>
                </div>
                <section class="b2">
                    <div class="card2">
                        <div class="tex2">
                            <pclass="peregra1">Riza Mahanta</p>
                            <p class="peregra2">Senior Manager – Projects</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <pclass="peregra1">Aastha Arora</p>
                            <p class="peregra2">Project Manager</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Avantika Bagai</p>
                            <p class="peregra2">Project Manager</p>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Sukanya Guha Roy</p>
                            <p class="peregra2">Project Manager</p>
                        </div>
                    </div>
                </section>
                <section class="b2">
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Zenia Taluja</p>
                            <p class="peregra2">Project Manager</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Sayan Bhattacharjee
                            </p>
                            <p class="peregra2">Field Manager</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Anjali Dhingra
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Anjali Dhingra
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                </section>
                <section class="b2">
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Sakshi Tiwari
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Noyana Khatoniar
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>

                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Ravikanth Baindla
                            </p>
                            <p class="peregra2">Senior Research Associate</p>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="tex2">
                            <p class="peregra1">Kunal Raj
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                </section>
                <section class="b2">
                    <div class="card2-2">
                        <div class="tex2">
                            <p class="peregra1">Sakshi Tiwari
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>

                    </div>
                    <div class="card2-2">
                        <div class="tex2">
                            <p class="peregra1">Noyana Khatoniar
                            </p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                </section>
            </div>
            {{!-- Monitoring, Evaluation and Learning Team --}}
              <div class="section3">
                <div class="partd">
                    <h2>Monitoring, Evaluation and Learning Team</h2>
                </div>
                <section class="b3">
                    <div class="card3">
                        <div class="tex3">
                            <p class="peregra1">Riza Mahanta</p>
                            <p class="peregra2">Senior Manager – Projects</p>
                        </div>

                    </div>
                    <div class="card3">
                        <div class="tex3">
                            <p class="peregra1">Aastha Arora</p>
                            <p class="peregra2">Project Manager</p>
                        </div>

                    </div>
                    <div class="card3">
                        <div class="tex3">
                            <p class="peregra1">Avantika Bagai</p>
                            <p class="peregra2">Project Manager</p>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="tex3">
                            <p class="peregra1">Sukanya Guha Roy</p>
                            <p class="peregra2">Project Manager</p>
                        </div>
                    </div>
                </section>
            </div>   
            {{!-- HR and Operations Team --}}
            <div class="section4">
                <div class="parte">
                    <h2>Monitoring, Evaluation and Learning Team</h2>
                </div>
                <section class="b4">
                    <div class="card4">
                        <div class="tex4">
                            <p class="peregra1">Jagannath R</p>
                            <p class="peregra2">Senior Manager- MEL</p>
                        </div>

                    </div>
                    <div class="card4">
                        <div class="tex4">
                            <p class="peregra1">Tarul Jain</p>
                            <p class="peregra2">Senior MEL Coordinator</p>
                        </div>

                    </div>
                    <div class="card4">
                        <div class="tex4">
                            <p class="peregra1">K. Sree Vidya</p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                    <div class="card4">
                        <div class="tex4">
                            <p class="peregra1">Venkatesh Alur</p>
                            <p class="peregra2">Research Associate</p>
                        </div>
                    </div>
                </section>
            </div>

            {{!-- HR and Operations Team --}}

            <div class="section4">
                <div class="partf">
                    <h2>HR and Operations Team</h2>
                </div>
                <section class="b5">
                    <div class="card5">
                        <div class="tex5">
                            <p class="peregra1">Sachin Kumar</p>
                            <p class="peregra2">Senior Manager – HR and Operations</p>
                        </div>

                    </div>
                    <div class="card5">
                        <div class="tex5">
                            <p class="peregra1">Mamta Rani</p>
                            <p class="peregra2">Admin Manager</p>
                        </div>

                    </div>
                    <div class="card5">
                        <div class="tex5">
                            <p class="peregra1">Prabha Kumar</p>
                            <p class="peregra2">Senior Finance Officer</p>
                        </div>
                    </div>
                </section>
            </div>

            {{!-- Communications Team --}}
            <div class="section4">
                <div class="parti">
                    <h2>Communications Team</h2>
                </div>
                <section class="b6">
                    <div class="card6">
                        <div class="tex6">
                            <p class="peregra1">Sachin Kumar</p>
                            <p class="peregra2">Senior Manager – HR and Operations</p>
                        </div>
                    </div>
                </section>
            </div>

                        {{!-- Business Development Team --}}
            <div class="section4">
                <div class="partg">
                    <h2>Business Development Team</h2>
                </div>
                <section class="b7">
                    <div class="card7">
                        <div class="tex7">
                            <p class="peregra1">Anyesha Mitra</p>
                            <p class="peregra2">Manager - Business Development and Projects</p>
                        </div>
                    </div>
                    <div class="card7">
                        <div class="tex7">
                            <p class="peregra1">Anubhav Pandey</p>
                            <p class="peregra2">Associate – Business Development and Strategy</p>
                        </div>
                    </div>
                </section>
            </div>


        </div>
</body>

</html>