<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Navbar</title>
</head>
<style>
nav {
  background-color: #000000;
  color: #ffffff;
padding: 7px;
}
ul {

  margin: 0;
  padding: 0;
  list-style: none;

}
li {
 
  display: inline-block;
  margin: 10px;
   
  
}

a {
   color: #ffffff;
    text-decoration: none;
}
a:hover{
   color: #ff9393;
}
</style>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="login">Login Us</a></li>
      <li><a href="ragistar">Registrar Us</a></li>
      <li><a href="contect">Contect Us</a></li>
      <li><a href="secreatkey">Secure Us</a></li>
    </ul>
  </nav>
</body>
</html>