<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: lightblue;

    }

    .our {
        height: 200px;
        background-color: black;
        margin: -22px 0px;
    }


    h1 {
        text-align: center;
        padding: 82px 9px;
        color: aliceblue;
    }
    .sectiona{
            display: flow;
    }
    .a1{
       margin-left: 55rem;
    }
    .h1{
        padding: 5px 23px 5px;
        margin: 0px 69px;
        background-color: black;
    }

    .b1 {
        display: flex;
        padding: 0px 56px;
    }

    .card1 {
        margin: 11px;
        height: 344px;
        width: 21%;
        border-radius: 10px;
        border: 3px solid mediumturquoise;
        background-color: rgb(255, 255, 255);
    }


    .tex1 {
        color: rgb(0, 0, 0);
        text-align: revert;
        margin: 7.8rem 1rem;
    }



</style>

<body>
    {{>nevbar}}
    <div class="our">
        <h1>
            Team
        </h1>

        <section class="sectiona">
            <div class="a1">
                <div class="h1">
                    <h3 style="color: aliceblue;">Archives</h3>
                    <div class="year">
                        <a href="">2023</a>
                        <a href="">2022</a>
                        <a href="">2021</a>
                        <a href="">2020</a>
                        <a href="">2019</a>
                        <a href="">2018</a>
                        <a href="">2017</a>
                        <a href="">2015</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1" style="border-radius: 10px;">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
                <section class="b1">
            <div class="card1">
                <div class="tex1">
                    <div class="img1">
                        <p>img1</p>
                    </div>
                    <p class="peregra1">How Socio-Cultural Challenges Impact The..</p>
                    <p class="peregra2">As part of a qualitative study, I recently got the opportunity to conduct a Focus Gro..</p>
                 <div class="button1">    
                     <button>
                            <a href="../Insights/blog/1How.hbs">Read more</a>
                    </button>
                </div>
                </div>
            </div>
        </section>
    {{>footer}}
    </div>
</body>

</html>